
.top{
    background-color: white;
    border-radius: 10px;
    width: 200px;
}
.left-div { 
    grid-area: left; 
    width: 230px;
}
.right-div {
     grid-area: right; 
width: 100px;
}

.mid-div { grid-area: mid;
}

.grid-container{
    background-color: F5F5F5;
    display: grid;
    grid-template-areas:
    'left mid mid mid  right';
    grid-gap:10px;
    margin-top: 10px;

}
body{
    background-color: #F5F5F5;
    font-family: "ProximaNova";
    margin-top: 50px;
}

@font-face {
    font-family: "ProximaNova";
 
    src: url("assets/fonts/ProximaNova-Regular.otf") format('opentype');


    }

    @font-face {
        font-family: "semiProximaNova";
     
        src: url("assets/fonts/ProximaNova-Semibold.otf") format('opentype');
    
    
        }

    @font-face {
        font-family: "ProximaNovabold";
    
        src: url("assets/fonts/ProximaNova-Bold.otf") format('opentype');
       
        }

        @font-face {
            font-family: "ProximaNovaextra";
         
            src: url("assets/fonts/ProximaNova-Extrabold.otf") format('opentype');
        
            }

.left-div, .right-div, .mid-div{
background-color: rgb(255, 255, 255);
border-radius: 10px;
height:500px;
}

.socials{
    display: flex;
    justify-content: center;
 
}
#social{
    width: 40px;
    height: 40px;
    background-color: gray;
    margin-right: 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1), -7px -5px 10px 0 rgba(255, 255, 255, 0.7);
    z-index: 10;
    overflow: hidden
   
}

#social:hover {
    background-color:#81daee;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px

}




h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: ProximaNovaextra;
    color: #6CBBCC;
    
   

}
.p1{
   
    text-align: center;
    font-size: 12px;
   
}
.infoflex{
    display: flex;
   flex-direction: column;
   margin-left: 20px;
 
}
.infodiv{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1), -7px -5px 10px 0 rgba(255, 255, 255, 0.7);
    margin-top: 15px;
    margin-left: 5px;
    width: 160px;
    height: 30px;
    padding-top: 8px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 12px;
 

    
}

#button0{
   padding-left: 45px;
   margin-top: 8px;
   width: 140px;

}
.b1{
    border-style: none;
    margin-top: 20px;
    height: 30px;
    background-color: #6CBBCC;
    border-radius: 5px;
    font-size: 12px;
    color: white;
}

#profile-photo{
    position: relative;
    margin-top: -40px;
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 90px;
    margin-left: 70px;
}

.right-info{
    position: relative;
    margin-top: -20px;
    margin-left: 25px;
   
}

.small{
    font-size: 8px;
}

.pright-info{
    position: relative;
    margin-top: -24px;
    margin-left: 25px;
   
}

.pic{
    height:20px;
    padding-top: 10px;
    padding-left: 10px;
}

.gpic{
    height:25px;
    padding-top: 8px;
    padding-left: 8px;
}



/* -------------------------------------------------middle-section ---------------------------------------------------*/

.para1{
    text-align: center;
    text-align: justify;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.6;
}

.flex{
    display: flex;
}

.uiux, .webdev, .graphic{
    background-color: #F5F5F5;
   
    height: 110px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}
.uiux, .webdev{
    width:250px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.graphic{
    width: 510px;
    margin-left: 10px;
}
.icon-window{
    background-color: white;
    width:210px;
    margin-left:20px ;
    height: 60px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, 0.1), -5px -5px 15px 0 rgba(255, 255, 255, 0.7);

}
.icon-windowd{
    background-color: white;
    width:480px;
    margin-left:15px ;
    height: 60px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, 0.1), -5px -5px 15px 0 rgba(255, 255, 255, 0.7);
}
.adjust{
    margin-left: 20px;
    

      
}
.wadjust{
    margin-left: 5px;
}

.boxpic{
  
    height:35px;
    margin-right: 10px;
    padding-top: 12px;
}

.boxpic2{
    height:35px;
    margin-right: 10px;
    padding-top: 12px;
padding-left: 5px;
}

.tboxpic{
    height:30px;
    margin-right: 30px;
    padding-top: 15px;
}
/* -------------------------------------right section----------------------------------------------------- */
.aboutme, .resume,.Works,.Contact,.Blog,.game{
    background-color: #F5F5F5;
    margin-top: 10px;
    width: 50px;
    height: 45px;
    font-size: 9px;

    margin-left: 20px;
    text-align: center;
    padding-top:6px;
    border-radius: 10px ;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1), -7px -5px 10px 0 rgba(255, 255, 255, 0.7);
}
#button1{
    margin-left:16px;
    font-family: ProximaNovabold;
}
.b2{
    
        border-style: none;
        margin-top: 20px;
        height: 30px;
        background-color: #6CBBCC;
        border-radius: 5px;
        font-size: 12px;
        color: white;
    }


i{
    color: #6CBBCC;
 
}
#wicons{
    color: white;
}

#icons{
    font-size: 16px;
    padding-top: 2px;
}
#micons{

    font-size: 24px;
    margin-top: -2px;

  
}


/* --------------------------------------------hover animation--------------------------------------------------------- */
/* 

:root {
    --lerp-0: 1;
    --lerp-1: 0.5625;
    --lerp-2: 0.25;
    --lerp-3: 0.0625;
    --lerp-4: 0;
  }


.wadjust{

	transition: flex 0.2s;
	flex: calc(0.2 + (var(--lerp, 0) * 1.5));
	position: relative;
}
.wadjust:after {
	
	position: absolute;
	
	transform: translate(-50%, -50%);
	z-index: -1;
}

.wadjust:before {
	content: '';
	position: absolute;
	width: calc(100% + var(--size-4));
	aspect-ratio: 1 / 2;
	transition: transform 0.2s;
	transform-origin: 50% 100%;
	transform: translateX(-50%) scaleY(var(1, 0));
	z-index: -1;
}


  
  .boxpic {
      width: 100%;
      aspect-ratio: 1;
  
      display: inline-wadjust;
      transition: transform 0.2s;
      transform-origin: 50% 100%;
      position: relative;
      transform: translateY(calc(var(--lerp) * -75%));
  }

  :is(.wadjust:hover, .wadjust:focus-visible) {
    --lerp: var(--lerp-0);
    z-index: 5;
  }
  .wadjust:has( + :is(.wadjust:hover, .wadjust:focus-visible)),
  :is(.wadjust:hover, .wadjust:focus-visible) + .wadjust {
    --lerp: var(--lerp-1);
    z-index: 4;
  }
  .wadjust:has( + .wadjust + :is(.wadjust:hover, .wadjust:focus-visible)),
  :is(.wadjust:hover, .wadjust:focus-visible) + .wadjust + .wadjust {
    --lerp: var(--lerp-2);
    z-index: 3;
  }
   */